<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Employee uid</th>
      <th>Password digest</th>
      <th>Admin</th>
      <th>Photo file name</th>
      <th>Photo content type</th>
      <th>Photo file size</th>
      <th>Photo updated at</th>
      <th>Role name</th>
      <th>Tab</th>
      <th>Username</th>
      <th>Logout at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.address %></td>
        <td><%= user.employee_uid %></td>
        <td><%= user.password_digest %></td>
        <td><%= user.admin %></td>
        <td><%= user.photo_file_name %></td>
        <td><%= user.photo_content_type %></td>
        <td><%= user.photo_file_size %></td>
        <td><%= user.photo_updated_at %></td>
        <td><%= user.role_name %></td>
        <td><%= user.tab_id %></td>
        <td><%= user.username %></td>
        <td><%= user.logout_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
