<b style="font-size:20px;color:orange;text-transform:uppercase;"><%= @user.name %></b>
(<%= link_to 'edit', edit_user_path(@user) %>)
<% if @user.tab.present? %>
  <h6>Tab Name:  <%= @user.tab.name %></h6>
<% else !@user.admin? %>
  <%= form_for User.find(@user) do |tab| %>
   <%= tab.collection_select :tab_id, @array_without_excluded_ids, :id, :name, prompt: true %>
   <%= tab.submit :class=>"btn btn-warning" %>
  <% end %>
<% end %>
<table class="table table-condensed table-bordered">
<tr>
  <td><strong>Name:</strong></td>
  <td><%= @user.name %></td>
</tr>

<tr>
  <td><strong>Address:</strong></td>
  <td><%= @user.address %></td>
</tr>

<tr>
  <td><strong>Employee uid:</strong></td>
  <td><%= @user.employee_uid %></td>
</tr>

<tr>
  <td><strong>Admin:</strong></td>
  <td><%= @user.admin %></td>
</tr>

<tr>
  <td><strong>Role name:</strong></td>
  <td><%= @user.role_name %></td>
</tr>

<tr>
  <td><strong>Tab:</strong></td>
  <td><%= @user.tab_id %></td>
</tr>

<tr>
  <td><strong>Username:</strong></td>
  <td><%= @user.username %></td>
</tr>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</table>
