<table class="table table-condensed table-bordered" >

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<br><br>
<h3><%= @customer.full_name %></h3>

<% if logged_in? && current_user.role_name=="super_user" &&  @customer.pending? %>

   <%= form_for(@new_assignments) do |f| %>
    <%= f.hidden_field :customer_id , :value => @customer.id %>
    <%= f.hidden_field :user_id , :value => current_user.id %>
    <%= select_tag "assignment[tab_id]", options_for_select(User.includes(:tab).where('users.role_name!=?', 'super_user').collect {|r| [r.name, r.tab.id] if r.tab}),   :prompt => "Select one " %>
    <span class="dropdown-arrow"></span>
   <%= f.submit "Send for verification", :class=>"btn btn-primary btn-small" %>
 <% end %>
<% else %>

<%# if @customer.submitted? %>
<br>
    <% if @customer.submitted? %>
     <!--<td><span class="label label-warning">Submitted to Tab User </span></td></tr><br>-->
		 <p style="font-size:15px;" class="label label-warning">
		   The customer has been send for verification. this has been assigned to
		   <b style="color:black"><%= @customer.assignment.tab.user.name if @customer.assignment.tab.user %></b></p>
    <% end %>


<%# end %>
<% end %>
<br><br><br>
<tr>
  <td><strong>Caf number:</strong>
  <td><%= @customer.caf_number %>
</tr>

<tr>
  <td><strong>Len:</strong>
  <td><%= @customer.len %>
</tr>

<tr>
  <td><strong>Old caf number:</strong>
  <td><%= @customer.old_caf_number %>
</tr>

<tr>
  <td><strong>Parent account number:</strong>
  <td><%= @customer.parent_Account_number %>
</tr>

<tr>
  <td><strong>Account number:</strong>
  <td><%= @customer.account_number %>
</tr>

<tr>
  <td><strong>Mdn:</strong>
  <td><%= @customer.mdn %>
</tr>

<tr>
  <td><strong>First name:</strong>
  <td><%= @customer.first_name %>
</tr>

<tr>
  <td><strong>Last name:</strong>
  <td><%= @customer.last_name %>
</tr>

<tr>
  <td><strong>Middle name:</strong>
  <td><%= @customer.middle_name %>
</tr>

<tr>
  <td><strong>Fh name:</strong>
  <td><%= @customer.fh_name %>
</tr>

<tr>
  <td><strong>Nationality:</strong>
  <td><%= @customer.nationality %>
</tr>

<tr>
  <td><strong>Gender:</strong>
  <td><%= @customer.gender %>
</tr>

<tr>
  <td><strong>Dob:</strong>
  <td><%= @customer.dob %>
</tr>

<tr>
  <td><strong>Customer type:</strong>
  <td><%= @customer.customer_type %>
</tr>

<tr>
  <td><strong>Cust category:</strong>
  <td><%= @customer.cust_category %>
</tr>

<tr>
  <td><strong>Entity name:</strong>
  <td><%= @customer.entity_name %>
</tr>

<tr>
  <td><strong>Address 1:</strong>
  <td><%= @customer.address_1 %>
</tr>

<tr>
  <td><strong>Address 2:</strong>
  <td><%= @customer.address_2 %>
</tr>

<tr>
  <td><strong>Landmark:</strong>
  <td><%= @customer.landmark %>
</tr>

<tr>
  <td><strong>City:</strong>
  <td><%= @customer.city %>
</tr>

<tr>
  <td><strong>State:</strong>
  <td><%= @customer.state %>
</tr>

<tr>
  <td><strong>Pincode:</strong>
  <td><%= @customer.pincode %>
</tr>

<tr>
  <td><strong>Local address 1:</strong>
  <td><%= @customer.local_address_1 %>
</tr>

<tr>
  <td><strong>Local address 2:</strong>
  <td><%= @customer.local_address_2 %>
</tr>

<tr>
  <td><strong>Local city:</strong>
  <td><%= @customer.local_city %>
</tr>

<tr>
  <td><strong>Local state:</strong>
  <td><%= @customer.local_state %>
</tr>

<tr>
  <td><strong>Local pin:</strong>
  <td><%= @customer.local_pin %>
</tr>

<tr>
  <td><strong>Email:</strong>
  <td><%= @customer.email %>
</tr>

<tr>
  <td><strong>Contact number:</strong>
  <td><%= @customer.contact_number %>
</tr>

<tr>
  <td><strong>Poi type:</strong>
  <td><%= @customer.poi_type %>
</tr>

<tr>
  <td><strong>Poa type:</strong>
  <td><%= @customer.poa_type %>
</tr>

<tr>
  <td><strong>Caf entry date:</strong>
  <td><%= @customer.caf_entry_date %>
</tr>

<tr>
  <td><strong>Ageing:</strong>
  <td><%= @customer.ageing %>
</tr>

<tr>
  <td><strong>Ageing act:</strong>
  <td><%= @customer.ageing_act %>
</tr>

<tr>
  <td><strong>Rsn:</strong>
  <td><%= @customer.rsn %>
</tr>

<tr>
  <td><strong>Activation date:</strong>
  <td><%= @customer.activation_date %>
</tr>

<tr>
  <td><strong>Av status:</strong>
  <td><%= @customer.av_status %>
</tr>

<tr>
  <td><strong>Cv status:</strong>
  <td><%= @customer.cv_status %>
</tr>

<tr>
  <td><strong>Caf status:</strong>
  <td><%= @customer.caf_status %>
</tr>

<tr>
  <td><strong>Scrutiny status:</strong>
  <td><%= @customer.scrutiny_status %>
</tr>

<tr>
  <td><strong>Av user:</strong>
  <td><%= @customer.av_user_id %>
</tr>

<tr>
  <td><strong>Cv user:</strong>
  <td><%= @customer.cv_user_id %>
</tr>

<tr>
  <td><strong>Otc code:</strong>
  <td><%= @customer.otc_code %>
</tr>

<tr>
  <td><strong>Circle:</strong>
  <td><%= @customer.circle %>
</tr>

<tr>
  <td><strong>Caf ciou:</strong>
  <td><%= @customer.caf_ciou %>
</tr>

<tr>
  <td><strong>Ciou:</strong>
  <td><%= @customer.ciou %>
</tr>

<tr>
  <td><strong>Dnc:</strong>
  <td><%= @customer.dnc %>
</tr>

<tr>
  <td><strong>Telemarketing:</strong>
  <td><%= @customer.telemarketing %>
</tr>

<tr>
  <td><strong>Mobile:</strong>
  <td><%= @customer.mobile %>
</tr>

<tr>
  <td><strong>Av agency:</strong>
  <td><%= @customer.av_agency %>
</tr>

<tr>
  <td><strong>Av done date:</strong>
  <td><%= @customer.av_done_date %>
</tr>

<tr>
  <td><strong>Caf updated date:</strong>
  <td><%= @customer.caf_updated_date %>
</tr>

<tr>
  <td><strong>Scrutiny updated by:</strong>
  <td><%= @customer.scrutiny_updated_by %>
</tr>

<tr>
  <td><strong>Reorder:</strong>
  <td><%= @customer.reorder %>
</tr>

<tr>
  <td><strong>Operator name:</strong>
  <td><%= @customer.operator_name %>
</tr>

<tr>
  <td><strong>Operator credit limit:</strong>
  <td><%= @customer.operator_credit_limit %>
</tr>

<tr>
  <td><strong>Tariff plan:</strong>
  <td><%= @customer.tariff_plan %>
</tr>

<tr>
  <td><strong>Old account number:</strong>
  <td><%= @customer.old_account_number %>
</tr>

<tr>
  <td><strong>Credit limit:</strong>
  <td><%= @customer.credit_limit %>
</tr>

<tr>
  <td><strong>Credit score:</strong>
  <td><%= @customer.credit_score %>
</tr>

<tr>
  <td><strong>Pos code:</strong>
  <td><%= @customer.pos_code %>
</tr>

<tr>
  <td><strong>Product type:</strong>
  <td><%= @customer.product_type %>
</tr>

<tr>
  <td><strong>Mnp flag:</strong>
  <td><%= @customer.mnp_flag %>
</tr>

<tr>
  <td><strong>Service type:</strong>
  <td><%= @customer.service_type %>
</tr>

<tr>
  <td><strong>Pevious cv limit:</strong>
  <td><%= @customer.pevious_cv_limit %>
</tr>

<tr>
  <td><strong>Re av count:</strong>
  <td><%= @customer.re_av_count %>
</tr>

<tr>
  <td><strong>Re av date:</strong>
  <td><%= @customer.re_av_date %>
</tr>

<tr>
  <td><strong>Av neg remarks:</strong>
  <td><%= @customer.av_neg_remarks %>
</tr>

<tr>
  <td><strong>Re av reasons:</strong>
  <td><%= @customer.re_av_reasons %>
</tr>

<tr>
  <td><strong>Caf remark:</strong>
  <td><%= @customer.caf_remark %>
</tr>

<tr>
  <td><strong>Av neg sub reasons:</strong>
  <td><%= @customer.av_neg_sub_reasons %>
</tr>

<tr>
  <td><strong>Cv done date:</strong>
  <td><%= @customer.cv_done_date %>
</tr>

<tr>
  <td><strong>Security amount:</strong>
  <td><%= @customer.security_amount %>
</tr>

<tr>
  <td><strong>Tariff plan value:</strong>
  <td><%= @customer.tariff_plan_value %>
</tr>

<tr>
  <td><strong>Product type value:</strong>
  <td><%= @customer.product_type_value %>
</tr>

<tr>
  <td><strong>Corp company name:</strong></td>
  <td><td><%= @customer.corp_company_name %></td>
</tr>

<tr>
  <td><strong>Wh status:</strong>
  <td><%= @customer.wh_status %>
</tr>

<tr>
  <td><strong>Omnidocs status:</strong>
  <td><%= @customer.omnidocs_status %>
</tr>

<tr>
  <td><strong>Tmid:</strong>
  <td><%= @customer.tmid %>
</tr>

<tr>
  <td><strong>Pg tvp date:</strong>
  <td><%= @customer.pg_tvp_date %>
</tr>

<tr>
  <td><strong>Tvp status:</strong>
  <td><%= @customer.tvp_status %>
</tr>

</table>
