<p id="notice"><%= notice %></p>

<p>
  <strong>Caf number:</strong>
  <%= @customer.caf_number %>
</p>

<p>
  <strong>Len:</strong>
  <%= @customer.len %>
</p>

<p>
  <strong>Old caf number:</strong>
  <%= @customer.old_caf_number %>
</p>

<p>
  <strong>Parent account number:</strong>
  <%= @customer.parent_Account_number %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @customer.account_number %>
</p>

<p>
  <strong>Mdn:</strong>
  <%= @customer.mdn %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @customer.middle_name %>
</p>

<p>
  <strong>Fh name:</strong>
  <%= @customer.fh_name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @customer.nationality %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Customer type:</strong>
  <%= @customer.customer_type %>
</p>

<p>
  <strong>Cust category:</strong>
  <%= @customer.cust_category %>
</p>

<p>
  <strong>Entity name:</strong>
  <%= @customer.entity_name %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @customer.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @customer.address_2 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @customer.landmark %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @customer.pincode %>
</p>

<p>
  <strong>Local address 1:</strong>
  <%= @customer.local_address_1 %>
</p>

<p>
  <strong>Local address 2:</strong>
  <%= @customer.local_address_2 %>
</p>

<p>
  <strong>Local city:</strong>
  <%= @customer.local_city %>
</p>

<p>
  <strong>Local state:</strong>
  <%= @customer.local_state %>
</p>

<p>
  <strong>Local pin:</strong>
  <%= @customer.local_pin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @customer.contact_number %>
</p>

<p>
  <strong>Poi type:</strong>
  <%= @customer.poi_type %>
</p>

<p>
  <strong>Poa type:</strong>
  <%= @customer.poa_type %>
</p>

<p>
  <strong>Caf entry date:</strong>
  <%= @customer.caf_entry_date %>
</p>

<p>
  <strong>Ageing:</strong>
  <%= @customer.ageing %>
</p>

<p>
  <strong>Ageing act:</strong>
  <%= @customer.ageing_act %>
</p>

<p>
  <strong>Rsn:</strong>
  <%= @customer.rsn %>
</p>

<p>
  <strong>Activation date:</strong>
  <%= @customer.activation_date %>
</p>

<p>
  <strong>Av status:</strong>
  <%= @customer.av_status %>
</p>

<p>
  <strong>Cv status:</strong>
  <%= @customer.cv_status %>
</p>

<p>
  <strong>Caf status:</strong>
  <%= @customer.caf_status %>
</p>

<p>
  <strong>Scrutiny status:</strong>
  <%= @customer.scrutiny_status %>
</p>

<p>
  <strong>Av user:</strong>
  <%= @customer.av_user_id %>
</p>

<p>
  <strong>Cv user:</strong>
  <%= @customer.cv_user_id %>
</p>

<p>
  <strong>Otc code:</strong>
  <%= @customer.otc_code %>
</p>

<p>
  <strong>Circle:</strong>
  <%= @customer.circle %>
</p>

<p>
  <strong>Caf ciou:</strong>
  <%= @customer.caf_ciou %>
</p>

<p>
  <strong>Ciou:</strong>
  <%= @customer.ciou %>
</p>

<p>
  <strong>Dnc:</strong>
  <%= @customer.dnc %>
</p>

<p>
  <strong>Telemarketing:</strong>
  <%= @customer.telemarketing %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Av agency:</strong>
  <%= @customer.av_agency %>
</p>

<p>
  <strong>Av done date:</strong>
  <%= @customer.av_done_date %>
</p>

<p>
  <strong>Caf updated date:</strong>
  <%= @customer.caf_updated_date %>
</p>

<p>
  <strong>Scrutiny updated by:</strong>
  <%= @customer.scrutiny_updated_by %>
</p>

<p>
  <strong>Reorder:</strong>
  <%= @customer.reorder %>
</p>

<p>
  <strong>Operator name:</strong>
  <%= @customer.operator_name %>
</p>

<p>
  <strong>Operator credit limit:</strong>
  <%= @customer.operator_credit_limit %>
</p>

<p>
  <strong>Tariff plan:</strong>
  <%= @customer.tariff_plan %>
</p>

<p>
  <strong>Old account number:</strong>
  <%= @customer.old_account_number %>
</p>

<p>
  <strong>Credit limit:</strong>
  <%= @customer.credit_limit %>
</p>

<p>
  <strong>Credit score:</strong>
  <%= @customer.credit_score %>
</p>

<p>
  <strong>Pos code:</strong>
  <%= @customer.pos_code %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @customer.product_type %>
</p>

<p>
  <strong>Mnp flag:</strong>
  <%= @customer.mnp_flag %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @customer.service_type %>
</p>

<p>
  <strong>Pevious cv limit:</strong>
  <%= @customer.pevious_cv_limit %>
</p>

<p>
  <strong>Re av count:</strong>
  <%= @customer.re_av_count %>
</p>

<p>
  <strong>Re av date:</strong>
  <%= @customer.re_av_date %>
</p>

<p>
  <strong>Av neg remarks:</strong>
  <%= @customer.av_neg_remarks %>
</p>

<p>
  <strong>Re av reasons:</strong>
  <%= @customer.re_av_reasons %>
</p>

<p>
  <strong>Caf remark:</strong>
  <%= @customer.caf_remark %>
</p>

<p>
  <strong>Av neg sub reasons:</strong>
  <%= @customer.av_neg_sub_reasons %>
</p>

<p>
  <strong>Cv done date:</strong>
  <%= @customer.cv_done_date %>
</p>

<p>
  <strong>Security amount:</strong>
  <%= @customer.security_amount %>
</p>

<p>
  <strong>Tariff plan value:</strong>
  <%= @customer.tariff_plan_value %>
</p>

<p>
  <strong>Product type value:</strong>
  <%= @customer.product_type_value %>
</p>

<p>
  <strong>Corp company name:</strong>
  <%= @customer.corp_company_name %>
</p>

<p>
  <strong>Wh status:</strong>
  <%= @customer.wh_status %>
</p>

<p>
  <strong>Omnidocs status:</strong>
  <%= @customer.omnidocs_status %>
</p>

<p>
  <strong>Tmid:</strong>
  <%= @customer.tmid %>
</p>

<p>
  <strong>Pg tvp date:</strong>
  <%= @customer.pg_tvp_date %>
</p>

<p>
  <strong>Tvp status:</strong>
  <%= @customer.tvp_status %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
