<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @servey.customer_id %>
</p>

<p>
  <strong>Tab:</strong>
  <%= @servey.tab_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @servey.user_id %>
</p>

<p>
  <strong>Alternate number:</strong>
  <%= @servey.alternate_number %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @servey.locality %>
</p>

<p>
  <strong>Network signal:</strong>
  <%= @servey.network_signal %>
</p>

<p>
  <strong>Address verified:</strong>
  <%= @servey.address_verified %>
</p>

<p>
  <strong>Contact person name:</strong>
  <%= @servey.contact_person_name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @servey.relation %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @servey.product_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @servey.category %>
</p>

<p>
  <strong>Tariff plan confirm:</strong>
  <%= @servey.tariff_plan_confirm %>
</p>

<p>
  <strong>Usage detail:</strong>
  <%= @servey.usage_detail %>
</p>

<p>
  <strong>Receive monthly bill:</strong>
  <%= @servey.receive_monthly_bill %>
</p>

<p>
  <strong>Address proof:</strong>
  <%= @servey.address_proof %>
</p>

<p>
  <strong>Pan card:</strong>
  <%= @servey.pan_card %>
</p>

<p>
  <strong>House ownership:</strong>
  <%= @servey.house_ownership %>
</p>

<p>
  <strong>Staying since:</strong>
  <%= @servey.staying_since %>
</p>

<p>
  <strong>Type of residence:</strong>
  <%= @servey.type_of_residence %>
</p>

<p>
  <strong>Handset used:</strong>
  <%= @servey.handset_used %>
</p>

<p>
  <strong>Vehicle owned:</strong>
  <%= @servey.vehicle_owned %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @servey.occupation %>
</p>

<p>
  <strong>Credit card:</strong>
  <%= @servey.credit_card %>
</p>

<p>
  <strong>Ebill:</strong>
  <%= @servey.ebill %>
</p>

<p>
  <strong>Ecs:</strong>
  <%= @servey.ecs %>
</p>

<%= link_to 'Edit', edit_servey_path(@servey) %> |
<%= link_to 'Back', serveys_path %>
